*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}
body a{
    text-decoration: none;
    color: white;
}

/* Nav bar design section */
nav img{
    width: 5%;

}
nav img:hover{
    width: 10%;
}

nav{
    display: flex;
    justify-content: center;
    padding: 5px;
    align-items: center;
    top: 0;
    background-color: turquoise;
    position: sticky;
}

nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-flex;
    margin: 5px;
}
nav ul li a{
    padding: 8px 25px;
    transition: all .5s ease;
    background-color: turquoise;
}

nav ul li a:hover{
    background-color: lightcoral;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

/* main design section */

main{
    margin: 15% 5% 15%;
}

main h1{
    font-weight: lighter;
    font-size: 3rem;
    animation: animate 5s linear infinite;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #87ceeb;
        text-shadow: none;

    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #87ceeb,
        0 0 20px #87ceeb,
        0 0 40px #87ceeb,
        0 0 80px #87ceeb,
        0 0 160px #87ceeb;
    }
}
.left-main1 h2{
    width: 500px; 
    height: 300px; 
    font-size: 21px;
    font-family: sans-serif;
    color: turquoise;
}

.about-main{
    display: flex;
    justify-content: space-between;
    line-height: 1.6;
}
.left-main{
    width: 45%;
}
.right-main{
    width: 35%;
}
.right-main canvas{
    position: absolute;
    right: 5%;
    height: 80%;
    width: 40%;
    top: 20%;
    /*bottom: 5%;*/
    border: 5px;
    background: black;

}



.right-main img{
    position: absolute;
    right: 5%;
    height: 70%;
    top: 20%;
    bottom: 5%;
    border-radius: 100px;
    background-color: gray;
}

.left-main p{
    margin-bottom: 5%;
    font-size: 1rem;
}

.left-main a{
    color: blue;
    background-color: turquoise;
    padding: 10px 40px;
    border-radius: 10px;
}

.left-main a:hover{
    background-color: lightcoral;
    box-shadow: 0 0 10px white;
}

footer{
    display:flex;
    /*justify-content: center;*/
    padding: 5px;
    font-size: 10px;
    background-color: turquoise;
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    /*max-width: 960px;
    margin-inline: auto;
    padding-inline: 10px;*/
}
.fa{
    position: relative;
    font-size: 30px;
    color: black;
    
    
    
    
    
    
}